@import '../SCSS/variables.scss';



@include breakpoints(phone){
@media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

 

    header {
        width: 100vw;
        background-color: white;
        text-align: center;
        font-size: 1.5em;
        font-family: $roboto-slab;
        color: $color-grey;
       
    }

    .employeeEngagement{
        display: flex;
        background-color: $color-white;
        color: $color-grey;
        font-size: 1.25em;
        @include border-theme;
        margin: auto;
        
    }

    .authContainer{
        display: flex;
        background-color: $color-white;
        align-items: center;
        justify-content: left;
        flex-grow: 2;
        
        height: 40vh;
        width: 30vh;
        color: $color-white;
        font-weight: bold;
        box-shadow: 4px 4px 4px $color-navy;
        margin: auto;
        margin-top: 20%;
        padding: 10%;
   
        }
        .labelText{
            color: $color-mauve;
            font-size: 1.0em;
            font-family: $roboto-slab;
        }

    .authbtn {
        @include btn-theme;
    }


    .authInputFieldContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-purple;
       
    }

}

}


@include breakpoints(tablet){
    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){


        header {
            width: 100vw;
            background-color: white;
            text-align: center;
            font-size: 1.0em;
            font-family: $roboto-slab;
            color: $color-grey;
           
        }
    
        .authContainer{
            display: flex;
            background-color: $color-white;
            align-items: center;
            justify-content: left;
            flex-grow: 2;
            
            height: 40vh;
            width: 30vh;
            color: $color-white;
            font-weight: bold;
            box-shadow: 4px 4px 4px $color-navy;
            margin: auto;
            margin-top: 20%;
       
    
    
            }
    
        .authbtn {
            @include btn-theme;
        }
    
    
        .authInputFieldContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        
    }
    
    }


    @include breakpoints(laptop){
        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
            
        }
        
        }


        @include breakpoints(desktop){
            @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){
                
            }
            
            }



            .body, html{
                background-color: $color-mauve;
            } 


// @media only screen and (max-width: 37.5rem)and (min-width: 25rem) {


//     .authContainer{
//         display: flex;
//         background-color: $color-white;
//         align-items: center;
//         justify-content: left;
//         flex-grow: 2;
        
//         height: 60vh;
//         width: 60vh;
//         color: $color-white;
//         font-weight: bold;
//         box-shadow: 2px 2px 2px $color-dark-green;
//         margin: 10vh 10vh 10vh;
//         margin-left: 20vw;


//         }
        
//         .authbtn{
//             background-color: $color-light-blue;
//             color: $color-white;
//             font-weight: bold;
//             height: 3em;
//             width: 5em;
        
//         }
//           .passInput, .unInput{
//               height: 20px;
        
//           }

//           .admin{
//               color: $color-grey;
//           }
        
//           /* .authbtn{
//               height: 20px;
//               ;
//           } */
// }



// @media screen and (max-width: 25rem){

//     .h1 {
//         display: none;
//     }

//     .backgroundAuth {
//         background-color: $color-dark-blue;
//     }

//     .authContainer{
//         display: flex;
//         background-color: $color-white;
//         align-items: center;
//         justify-content: left;
        
//         height: 50vh;
//         width: 50vh;
//         color: $color-dark-blue;
//         font-weight: bold;
//         box-shadow: 2px 2px 2px $color-dark-green;
//         margin: 20vh 5vh 5vh;
//         }
        
//         .authbtn{
//             background-color: $color-light-green;
//             color: $color-white;
//             font-weight: bold;
        
//         }
//           .passInput, .unInput{
//               height: 20px;
        
//           }
        
//           .authbtn{
//               height: 20px;
//               ;
//           }
        




// }


// nav{
//     display: none;
// }


// @include breakpoints (laptop){

//     @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
//         .backgroundAuth{
//             background: url('lightbulb.jpg') no-repeat center center fixed;
//             height: 100vh;
//             width: 100vw;
              
//       background-position: 0 0;
//       background-repeat: no-repeat;
//       background-size: cover;
//         }
    



//     }  
// }

