@media only screen and (max-width: 37.5rem)and (min-width: 25rem) {


    .authContainer{
        display: flex;
        background-color:#8b8c89;
        align-items: center;
        justify-content: left;
        flex-grow: 2;
        
        height: 60vh;
        width: 60vh;
        color: white;
        font-weight: bold;
        box-shadow: 2px 2px 2px #05668d;
        margin: 10vh 10vh 10vh;
        margin-left: 20vw;
        }
        
        .authbtn{
            background-color: #00a896;
            color: white;
            font-weight: bold;
            height: 3em;
            width: 5em;
        
        }
          .passInput, .unInput{
              height: 20px;
        
          }
        
          /* .authbtn{
              height: 20px;
              ;
          } */
        


}






@media screen and (max-width: 25rem){

    .authContainer{
        display: flex;
        background-color:#8b8c89;
        align-items: center;
        justify-content: left;
        
        height: 50vh;
        width: 50vh;
        color: white;
        font-weight: bold;
        box-shadow: 2px 2px 2px #05668d;
        margin: 20vh 5vh 5vh;
        }
        
        .authbtn{
            background-color: #00a896;
            color: white;
            font-weight: bold;
        
        }
          .passInput, .unInput{
              height: 20px;
        
          }
        
          .authbtn{
              height: 20px;
              ;
          }
        




}




  /*Color palette
  

  GREEN BLUE PALETTE
  darkest blue #05668d
  darker blue #028090
  darker green #00a896
  lighter green #02c39a
  creme #f0f3bd
  grey #8b8c89
  
  */