@import '../SCSS/variables.scss';



@include breakpoints(phone){
@media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

 

    header {
        width: 100vw;
        background-color: white;
        text-align: center;
        font-size: 1.5em;
        font-family: $roboto-slab;
        color: $color-grey;
       
    }

    .employeeEngagement{
        display: flex;
        background-color: $color-white;
        color: $color-grey;
        font-size: 1.25em;
        @include border-theme;
        margin: auto;

    }

    .authContainer{
        display: none;
        display: flex;
        background-color: $color-white;
        align-items: center;
        justify-content: left;
        flex-grow: 2;
        
        height: 40vh;
        width: 30vh;
        color: $color-white;
        font-weight: bold;
        box-shadow: 4px 4px 4px $color-navy;
        margin: auto;
        margin-top: 20%;
        padding: 10%;
   
        }
        .labelText{
            color: $color-mauve;
            font-size: 1.0em;
            font-family: $roboto-slab;
        }

    


    .authInputFieldContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-purple;
       
    }

}

}


@include breakpoints(tablet){
    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){


        header {
            width: 100vw;
            background-color: white;
            text-align: center;
            font-size: 1.0em;
            font-family: $roboto-slab;
            color: $color-grey;
           
        }

        .employeeEngagement{
            display: flex;
            background-color: $color-white;
            color: $color-grey;
            font-size: 1.25em;
            @include border-theme;
            margin: auto;
    
        }
    
        .authContainer{
            display: flex;
            background-color: $color-white;
            align-items: center;
            justify-content: left;
            flex-grow: 2;
            
            height: 40vh;
            width: 40vh;
            color: $color-white;
            font-weight: bold;
            box-shadow: 4px 4px 4px $color-navy;
            margin: auto;
            margin-top: 10%;
            padding: 10%;
       
    
    
            }

            .labelText{
                color: $color-mauve;
                font-size: 1.0em;
                font-family: $roboto-slab;
            }

    
        .authbtn {
            @include btn-theme;
        }
    
    
        .authInputFieldContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        
    }
    
    }


    @include breakpoints(laptop){
        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
            
            .authandinfocontainer{
                display:flex;
                flex-direction: row;
                width: 80vw;
                height: 100vh;
                justify-content: space-between;
               
            }
    
            .employeeEngagement{
                display: flex;
                justify-content: space-between;
                background-color: $color-white;
                color: $color-grey;
                font-size: 1.0em;
                @include border-theme;
                margin: auto;
                // position: fixed;
                height: 5vh;
            }

            
    

            
            .authbtn {
               width: 80px;
               height: 50px;
               font-size: 1.0em;

              
            }

            .info {

                display: flex;

                background-color: $color-white;
                align-items: left;
                justify-content: space-between;
                height: 50vh;
                width: 10vw;
                color: $color-grey;
                box-shadow: 4px 4px 4px $color-navy;
                // margin: auto;
                margin-top: 2%;
                padding: 6%;
                font-weight: bold;
           

            }
        

        
            .authContainer{
                display: flex;
                background-color: $color-white;
                align-items: center;
                justify-content: left;
                // flex-grow: 2;
                // height: 30vh;
                // width: 30vh;
                color: $color-white;
                font-weight: bold;
                box-shadow: 4px 4px 4px $color-navy;
                margin: auto;
                margin-top: 2%;
                padding: 6%;
           
        
        
                }
    
                .labelText{
                    color: $color-mauve;
                    font-size: 1.0em;
                    font-family: $roboto-slab;
                }
    
        
            .authInputFieldContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        
        }


        @include breakpoints(desktop){
            @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){



                header {
                    width: 100vw;
                    background-color: white;
                    text-align: center;
                    font-size: 1.0em;
                    font-family: $roboto-slab;
                    color: $color-grey;
                   
                }
        
                .employeeEngagement{
                    display: flex;
                    justify-content: space-between;
                    background-color: $color-white;
                    color: $color-grey;
                    font-size: 1.25em;
                    @include border-theme;
                    margin: auto;
            
                }

            
                .authContainer{
                    display: flex;
                    background-color: $color-white;
                    align-items: center;
                    justify-content: left;
                    flex-grow: 2;
                    
                    height: 40vh;
                    width: 40vh;
                    color: $color-white;
                    font-weight: bold;
                    box-shadow: 4px 4px 4px $color-navy;
                    margin: auto;
                    margin-top: 10%;
                    padding: 10%;
               
            
            
                    }
        
                    .labelText{
                        color: $color-mauve;
                        font-size: 1.0em;
                        font-family: $roboto-slab;
                    }
        
            
                .authbtn {
                    @include btn-theme;
                    width: 40%;
                    height: 40%;
                    font-size: 1.25em;
                }
            
            
                .authInputFieldContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
            }
            
            }



            .body, html{
                background-color: $color-mauve;
            } 

            .flexauthbtn{
                display: flex;
                flex-direction: row;
                width: 30%;
                height: 30%;
                
                
            }

            .authbtn {
                @include btn-theme;
                margin-left: 5%;
                font-weight: bold;
            }

