@import '../SCSS/variables.scss';


.btn{
    @include btn-theme;
    width: 10vw;
    margin-top: 30px; 

    

}


.btnContainer{
    // margin-top: 20px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-evenly;
}




@include breakpoints (tablet){

    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

        .btn{
            width: 40vw;
        }
    }}

@include breakpoints (laptop){

    @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet){

        .btn{
            width: 30vw;
        }
    }}

@include breakpoints (desktop){

    @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){

        .btn{
            width: 30vw;
        }      
    }}


    .commentContainer {
        @include btn-theme;
        padding: 20px;
        margin: 20px
    }

    .commentbtn{
        @include btn-theme;
    }



    @include breakpoints (phone){

        @media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){
    
            .btnContainer{
                width:30vw;
                
            }
    
            .btn{
                width: 40vw;
            }
        }}