@import '../SCSS/variables.scss';


.btn{
    @include btn-theme;
    width: 10vw;
    margin-top: 30px; 

}


.btnContainer{
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-evenly;
}

