@import '../SCSS/variables.scss';


.btn{
    @include btn-theme;
    width: 10vw;
    // margin-top: 30px; 

    

}


// .btnContainer{
//     // margin-top: 20px;
//     margin-left: 5px;
//     display: flex;
//     flex-direction: row;
//     width: 20vw;
//     justify-content: space-evenly;
//     background-color: blue;
// }



@include breakpoints (phone){

    @media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

        .btnContainer{
            width:40vw;
            
        }

        .btn{
            margin-top: 10%;
            width: 20vw;
            font-size: 0.75em;
        }
    }}



@include breakpoints (tablet){

    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

        .btn{
            margin-top: 10%;
            width: 12vw;
        }
    }}

@include breakpoints (laptop){

    @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet){

        .btn{
            width: 5vw;
        }
    }}

@include breakpoints (desktop){

    @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){

        .btn{
            width: 5vw;
            margin-top: 5%;
            
        }      
    }}


    .commentContainer {
        @include btn-theme;
        padding: 20px;
        margin: 20px
    }

    .commentbtn{
        @include btn-theme;
    }

    // .btn{
    //     margin-top: 10%;
    // }


