@import '../SCSS/variables.scss';


.btn{
    @include btn-theme;
    width: 60px;
    font-size: 0.75rem;

    

}


.commentContainer {
    @include btn-theme;
    padding: 5px;
    margin-top: 3%;
    font-size: 0.75rem;
}

.commentbtn{
    @include btn-theme;
}


.btn{
    margin-top: 3%;
}




@include breakpoints (phone){

    @media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

    

        .btn{
            // margin-top: 10%;
            width: 50px;
            font-size: 0.75rem;
        }
    }}



@include breakpoints (tablet){

    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

        .btn{
            margin-top: 10%;
            width: 50px; 
            font-size: 0.75rem;
         }

         .commentContainer{
            margin-top: 10%;

         }

    }}

@include breakpoints (laptop){

    @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet){

        .btn{
            // width: 8%;
            width: 50px;
            font-size: 0.75rem;
        }
    }}

@include breakpoints (desktop){

    @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){

        .btn{
            // width: 8%;
            // margin-top: 5%;
            width: 60px;
            font-size: 0.75rem;
            
        }      
    }}


   

 


