@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


$imgpath: 'src/components/MyFeedback/marker.jpeg';


// @mixin background-image ($imgpath, $position: 0 0, $repeat: no-repeat) {
// image: url($imgpath);
// position: $position;
// repeat: $repeat;
// }


$roboto-slab: 'Roboto Slab', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;



@mixin btn-theme {
  box-shadow: 2px 2px 2px 2px $color-mauve;
  background-color: $color-white;
  color: $color-grey;
  border: hidden $color-white;

}

@mixin border-theme{
  box-shadow: 2px 2px 2px 2px $color-navy;
  background-color: $color-white;
  color: $color-grey;
  padding: 5%;
 
}
 



//Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1900px;
$breakpoint-laptop: 1400px;
$breakpoint-large-phone: 425px;
$breakpoint-phone: 360px;



@mixin breakpoints($point){

  @if $point  == phone {
    @media screen and(max-width: 425px) {@content;}
  } 
  @else if $point == tablet{
    @media screen and (max-width: 768px) {@content;}
  }
  @else if $point == laptop {
    @media screen and(min-width: 768px) {@content;}
  }

  @else if $point == desktop {
    @media screen and(min-width: 1224px) {@content;}
  }
  @else if $point == largescreen {
    @media screen and(min-width: 1824px) {@content;}
  }
}


// $breakpoint: (
//   'phone': 360px,
//   'tablet': 768px,
//   'desktop': 1366px,
//   'LGdesktop': 1920px
// )!default;



//can nest things in css - reads button in header button

//Colors

$color-light-green:  #02c39a;
$color-dark-green: #00a896;

$color-light-blue: #028090;
$color-dark-blue: #05668d;

$color-creme: #f0f3bd;
$color-grey: #8b8c89;
$color-white: #f8f9fa;

//new palette

$color-purple: #5e60ce;
$color-blue: #5390d9;
$color-green: #64dfdf;


//new palette

$color-navy: #4a4e69;
$color-mauve: #9a8c98;

  /*Color palette

  //new palette

  
  

  GREEN BLUE PALETTE
  darkest blue #05668d
  darker blue #028090
  darker green #00a896
  lighter green #02c39a
  creme #f0f3bd
  grey #8b8c89
  
  */

  $font-stack: Roboto;