.compDashContainer{
background: url('business-results.jpg') no-repeat center center fixed;
      
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100vw;
}