@import '../SCSS/variables.scss';




.fbpageparent {
   
    position: relative;
    
    &::before {
        content: '';
        background: url('marker.jpeg') no-repeat center center fixed;
        // background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.25;
        z-index: -4;
    }

}


.anonheaderContainer {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
  
}



//tablet design finished!!
@include breakpoints(tablet){

    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

        .myTextArea, h1, .fbcategory, .anonheader, .fblabels, .dropDownMenu, .mySubmitbtn, .anonymousbtn, .fbformat {
            font-family: $roboto-slab;
            color: $color-grey;
        }
    
        .fbcategory{
            margin: 0;
        }

       
    
        .dropDownMenu{
            font-family: $roboto-slab;
            // margin-left: 4vw;
            margin-top: 10px;
            padding-top: 0;
            width: 40vw;
            height: 5vh;
            color: $color-grey;
        }
    
      
        .myTextArea{
            height: 20vh;
            width: 40vw;
           
        }
    
      
    
        .mySubmitbtn{
            
            @include btn-theme;
           
         
        }
    
        .anonheaderContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30vw;
            height: 10vh;
            margin-top: 10%;
            // margin-left: 4vw;
            // @include btn-theme;
           
        }
    
        .anonheader {
            // display: flex;
            // justify-content: space-between;
            padding: 8px;
            // margin-left: 4vw;
            @include btn-theme;
            font-size: 0.75em;
            // width: 50vw;
            // justify-content: center;
            
        }
        .mySubmitbtn{
            margin-top: 10px;
            width: 30vw;
            padding: 8px;
        }
    
    
       
        .checkbox{
                padding-right: 10px;
        }

        .dropDownMenu, .myTextArea, .anonheaderContainer{
            margin-left: 4vw;
        }



        // .myFeedbackContainer{
        //     height: 30vh;
        //     width: 100vw;
        //     margin-top: 4px;
        //     background-color: goldenrod;

        // }

        // .fbListContainer{
        //     display: flex;
        //     flex-direction: column;
        //     align-items: flex-start;
        //     margin-left: 0;
        //     background-color: blue;
        //     width: 100vw;
        //     // height: 50vh;
        // }

        // .fb-box{
        //     height: 10vh;
        //     width: 10vw;
        // }
    
     

        .fbpageparent {
          
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            // justify-content: center;
            // flex-shrink: 2;
            width: 100vw;
            height: 200vh;
            overflow: scroll;


            position: relative;
          
            &::before {
                content: '';
                background: url('marker.jpeg') no-repeat center center fixed;
                
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                opacity: 0.25;
                z-index: -4;
            }

            margin-top: 0;
        
        }


        
        li.liststyle{
            margin-top: 10%;
            margin-left: 4vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
             @include btn-theme;
            padding: 2%;
            width: 80%;
            height: 30vh;
            list-style: none;
            // padding: 10px; testing
            overflow-wrap: break-word;
            overflow: auto;


            box-shadow:
            /* The top layer shadow */
            0 -1px 1px rgba(0,0,0,0.15),
            /* The second layer */
            0 -10px 0 -5px #eee,
            /* The second layer shadow */
            0 -10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
            0 -20px 0 -10px #eee,
            /* The third layer shadow */
            0 -20px 1px -9px rgba(0,0,0,0.15);
            /* Padding for demo purposes */
            // padding: 30px; //testing

}
        
            .catName{
                width: 55vw;
                // padding: 5px;
               
                
            }

    
    }


    }



    @include breakpoints(laptop){

        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
    
        
        .myTextArea, h1, .fbcategory, .anonheader, .fblabels, .dropDownMenu, .mySubmitbtn, .anonymousbtn, .fbformat {
            font-family: $roboto-slab;
            color: $color-grey;
        }
    
    
        .myTextArea, .anonheaderContainer{
            width: 30vw;
            margin-left: 4vw;
        }

        .myTextArea, .anonheaderContainer, .dropDownMenu{
            margin-left: 2vw;
        }
     
        .myTextArea{
    
            height: 20vh;
            width: 20vw;
           
           
        }
    
        .dropDownMenu{
        
            margin: 30px;
            width: 20vw;
            height: 5vh;
            color: $color-grey;
            border: 1px 1px solid $color-purple;
            font-family: $roboto-slab;
       
          
        }
    
        // .mySubmitbtn{
    
        //     @include btn-theme;
    
        //     width: 5vw;
        //     font-size: .70em;
        //     height: 4.5vh;
        //     font-size: .75em;
        //     padding: 2%;
        //    margin-left: 2px;
        //    margin-top: 10%;
         
        // }
    
    
        // .anonheader {
        //     margin-top: 10%;
        //     @include btn-theme;
        //     display: flex;
        //     flex-direction: row;
        //     height: 4vh;
        //     font-size: .75em;
        //     justify-content: center;
        //     // padding-top: 3%;
        //     width: 14vw;
        //     // text-align: center;
            
            
        // }
    
       
        // .anonheaderContainer{
        //     width: 20vw;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-around;
        //     margin-top: 10%;
        //     background-color: gold;
           
         
        // }

     
    
        .anonheaderContainer{
            width: 40vw;
            padding: 4px;
            margin-top: 10%;
          
        }
    
    
      .anonheader, .mySubmitbtn{
        height: 4vh;
        @include btn-theme;
        padding-top: 4%;
        font-size: .75em;
      }
    
     
    
        .mySubmitbtn{
            width: 10vw;
            // margin-left: 30px;
            padding: 18px;
        }


     
    
        .checkbox{
                padding-right: 10px;
        }



        
    
        .myFeedbackContainer{
            margin-top: 0%;
            height: 40vh;
            width: 30vw;
         
        }
    
     
    // .fbListContainer had > * after it on this selector - testing
    
        .fbListContainer {
         
            display: flex;
            flex-direction: column;
            width: 70vw;
        }
    
     
      
        .fb-box{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin: 30px;
            height: 30vh;
            width: 50vw; //sizes the content ins
    
    
             
           
        }
    
      
        li.liststyle{
    
            @include list-style;
            @include btn-theme;
    
            width: 100%;
            // height: 50vh;
            // list-style: none;
            // padding: 10px;
            // overflow-wrap: break-word;
            // overflow: auto;
            font-size: 0.75em;
            // box-shadow:
            // /* The top layer shadow */
            // 0 -1px 1px rgba(0,0,0,0.15),
            // /* The second layer */
            // 0 -10px 0 -5px #eee,
            // /* The second layer shadow */
            // 0 -10px 1px -4px rgba(0,0,0,0.15),
            //  /* The third layer */
            // 0 -20px 0 -10px #eee,
            // /* The third layer shadow */
            // 0 -20px 1px -9px rgba(0,0,0,0.15);
            // /* Padding for demo purposes */
              
        }
    
       
    
        .catName{
    
            @include border-theme;
            // margin: 20px;
            // margin-bottom: 20px;
            width: 5vw;
            height: 3vh;
            // padding-bottom: 10px;
            
        }
    
    
    
        .text{
            margin: 20px;
        }

    
    
        .fbpageparent {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            height: 100vh;
            width: 100vw;
        
            position: relative;
            // background: url('marker.jpeg') no-repeat center center fixed;
            // background-position: 0 0;
            // background-repeat: no-repeat;
            // background-size: cover;
            // opacity: 0.25;
            // z-index: -100;
        
        
        
            // code for opacity---------------
            &::before {
                content: '';
                background: url('marker.jpeg') no-repeat center center fixed;
                // background-position: 0 0;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                opacity: 0.25;
                z-index: -4;
            }
        
        }
    
    
        }
    
    
      
    
    }    




@include breakpoints(desktop){

    @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){

    
    .myTextArea, h1, .fbcategory, .anonheader, .fblabels, .dropDownMenu, .mySubmitbtn, .anonymousbtn, .fbformat {
        font-family: $roboto-slab;
        color: $color-grey;
    }

    .fbpageparent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
      
    }


    .dropDownMenu{
        // margin: 30px;
        width: 20vw;
        height: 5vh;
        color: $color-grey;
        border: 1px 1px solid $color-purple;
        font-family: $roboto-slab;
   
      
    }

    .dropDownMenu, .myTextArea, .anonheader{
        margin-left: 4vw;
    }
 
    .myTextArea{

        height: 20vh;
        width: 20vw;       
    }

    
    .anonheader {
      
      
        font-size: .75em;
        padding-top: 8px;
        
        
    }

    .anonheaderContainer{
        width: 40vw;
        padding: 4px;
        margin-top: 10%;
      
    }


  .anonheader, .mySubmitbtn{
    height: 4vh;
    @include btn-theme;
    padding-top: 10px;
    font-size: .75em;
  }

 

    .mySubmitbtn{
        width: 10vw;
        // margin-left: 30px;
        padding: 18px;
    }

   
    .checkbox{
            padding-right: 10px;
    }


    
    .myFeedbackContainer{
      
        margin-top: 2%;
        width: 35vw;
        // background-color: goldenrod;
      
    }

    .fbListContainer {
     
        display: flex;
        flex-direction: column;
        width: 70vw;
      
    }
  
 
  
    .fb-box{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 30px; //changed this
        height: 30vh;
        width: 50vw; //sizes the content ins
        // justify-content: space-between;


         
       
    }


    li.liststyle{
        // margin-top: 5%;
        // margin-bottom: 10%; //changed this
        // display: flex;
        // flex-direction: column;
        @include btn-theme;
        @include list-style;
        // list-style: none;
        // overflow-wrap: break-word;
        // padding: 2%;
        // box-shadow:
        // /* The top layer shadow */
        // 0 -1px 1px rgba(0,0,0,0.15),
        // /* The second layer */
        // 0 -10px 0 -5px #eee,
        // /* The second layer shadow */
        // 0 -10px 1px -4px rgba(0,0,0,0.15),
        //  /* The third layer */
        // 0 -20px 0 -10px #eee,
        // /* The third layer shadow */
        // 0 -20px 1px -9px rgba(0,0,0,0.15);
        // /* Padding for demo purposes */
    }



    // .text{
    //     margin: 50px;
    // }


    }


 
    .catName{
    
        @include border-theme;
        margin: 20px;
        // margin-bottom: 20px;
        width: 15vw;
        height: 2vh;
        // padding-bottom: 10px;
        
    }


}


@include breakpoints(phone){

    @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

        .myTextArea, h1, .fbcategory, .anonheader, .fblabels, .dropDownMenu, .mySubmitbtn, .anonymousbtn, .fbformat {
            font-family: $roboto-slab;
            color: $color-grey;
        }


        .fbpageparent {
          
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
            position: relative;
          
            &::before {
                content: '';
                background: url('marker.jpeg') no-repeat center center fixed;
                
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                opacity: 0.25;
                z-index: -4;
            }

           
        
        }

        .fbcategory{
            margin: 0;
        }

        .myTextArea, .dropDownMenu, .anonheader{
            margin-left: 4vw;
            // margin: auto;
        }

  
        // .myFeedbackContainer{
        //     // display: flex;
        //     // flex-direction: column-reverse;
        //     // justify-content: flex-start;
        //         height: 30vh;
        //         width: 100vw;
        //         // margin-left: 10vw;
        //         margin-top: 4px;
        //         // justify-content: center;
              
         
        //     }


        // .fbListContainer{
        //     // display: flex;
        //     // flex-direction: column;
        //     // margin: auto;
        //     margin: 5%;
        //     height: 70vh;
        //     width: 90vw;
        //     background-color: goldenrod;
        // }

     
        .dropDownMenu{
            font-family: $roboto-slab;
      
            width: 50vw;
            height: 5vh;
            color: $color-grey;
           
        }
    
      
        .myTextArea{
            height: 30%;
            width: 50vw;
            align-items: center;
    
            margin-top: 1px;
        }
    
     
    
        .mySubmitbtn{
            
            @include btn-theme;
           
         
        }
    
        .anonheaderContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // width: 50vw;
            margin-top: 10%;
        
            // @include btn-theme;
           
        }
    
        .anonheader {
       
            // padding-top: 8px;
            margin-left: 4vw;
            @include btn-theme;
            font-size: 0.75em;
            
        }

    
     
       
        .checkbox{
                padding-right: 10px;
        }
    
     
        // .fb-box{
        //     height: 50vh;
        //     width: 80%;
        //     background-color: yellow;
        // }

        
        li.liststyle{
           
            display: flex;
            flex-direction: column;
             @include btn-theme;
            list-style: none;
            overflow-wrap: break-word;
            margin-top: 10%;
            box-shadow:
            /* The top layer shadow */
            0 -1px 1px rgba(0,0,0,0.15),
            /* The second layer */
            0 -10px 0 -5px #eee,
            /* The second layer shadow */
            0 -10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
            0 -20px 0 -10px #eee,
            /* The third layer shadow */
            0 -20px 1px -9px rgba(0,0,0,0.15);
            /* Padding for demo purposes */
            // padding: 30px; //testing

}
        
            .catName{
                width: 35vw;
                padding: 1px;
                font-size: 0.75em;
               
            }

    
    }
    
   



}












