@import '../SCSS/variables.scss';


.myFeedbackContainer{
    display: flex;
    flex-direction: column;
    
}

header{
    height: 5vh;
    width: 100vw;
}


@include breakpoints(phone){

    h1{
        text-align: center;
        padding: 10vh;
        height: 5vh;
        width: 100vw;
        background-color: $color-creme;
    }
    .myTextArea{

        height: 40vh;
        width: 80vw;
        margin: 20px;
        margin-left: 25px;
        // border-radius: 25%;
    }

    .dropDownMenu{
        
        width: 40vw;
        height: 5vh;
        border: 2px $color-light-blue;
    }

    .mySubmit{
        width: 20vw;
    }


}


@include breakpoints(laptop){
    h1{
        text-align: center;
        padding: 10vh;
        height: 5vh;
        width: 100vw;
        background-color: $color-creme;
    }
    .myTextArea{

        height: 40vh;
        width: 80vw;
        margin: 20px;
        margin-left: 25px;
        
    }


}




